.row {
     margin-left: 0;
     margin-right: 0; 
}


.iit_line_program_box {
    /* nothing */
}

.iit_line_program_box img{
    width: 100%;
    overflow: hidden;
    height: 180px;
}

.iit-centre-programs h4{
    font-weight: bold;
    margin-bottom: 4px;
}

.iit-centre-programs p{
    text-align: justify;
    margin: 0;
    /*overflow: hidden;
    height: 46px;
    border: 3px solid white;*/
}

.no-image{
    display: inline !important;
    float:none !important;
}



.iit-centre-programs a{
    float:left;
    display: block;
    max-width: 360px; 
    padding: 0;
    margin-bottom: 40px;
    height: 276px;
    overflow: hidden;
}


.iit-centre-programs a:last-child{
   float: right;
}
.iit-centre-programs a:first-child{
   float: left;
}

@media (max-width: 760px){
    .iit-centre-programs a:last-child{
        float: left;
    }
    
}